<template>
  <div class="daftarmhs">
    <h2>Daftar Mahasiswa</h2>
    <table class="table">
      <thead>
        <th>#</th>
        <th>NIM</th>
        <th>Nama</th>
        <th>Alamat</th>
      </thead>
    </table>
    <div v-for="mahasiswa in mahasiswas" :key="mahasiswa.id">
      <Tabelmhs :mahasiswa="mahasiswa" />
    </div>
  </div>
</template>

<script>
import Tabelmhs from "../components/tabelmhs.vue";
import axios from "axios";

export default {
  name: "DaftarMahasiswa",
  components: {
    Tabelmhs,
  },
  data() {
    return {
      mahasiswas: [],
    };
  },
  methods: {
    setMahasiswas(data) {
      this.mahasiswas = data;
    },
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8000/api/mahasiswa")
      .then((response) => this.setMahasiswas(response.data))
      .catch((error) => console.log(error));
  },
};
</script>

<style>
</style>