<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/searchlogo.png" />
    <formcari />
  </div>
</template>

<script>
// @ is an alias to /src
import Formcari from "../components/formcari.vue";

export default {
  name: "Home",
  components: {
    Formcari,
  },
};
</script>
