<template>
  <div class="container">
    <form id="find" action="/mhs" method="GET">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">NIM</label>
        <input class="form-control" id="NIM" v-model="NIM" />
      </div>
      <button type="submit" class="btn btn-primary">Cari</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "formcari",
};
</script>

<style>
</style>