<template>
  <div>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">{{ mahasiswa.id }}</th>
          <td>{{ mahasiswa.nim }}</td>
          <td>{{ mahasiswa.nama }}</td>
          <td>{{ mahasiswa.alamat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "tabelmhs",
  props: ["mahasiswa"],
};
</script>

<style>
</style>